section.offcanvasRight-section{
    height: 100vh;
    width: 533px;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--color-white);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);


}

.offcanvasRight-section .offcanvasRight-heading p{
color: var(--color-blue);
font-size: 13px;
font-weight: 700;
margin: 0;
}

.offcanvasRight-section .offcanvasRight-heading h3{
font-size: 23px;
color: var(--color-violet);
font-weight: 600;

}

.offcanvasRight-section .offcanvasRight-close{
   display: flex;
  justify-content: flex-end;
}

.offcanvasRight-section .offcanvasRight-close button{
 border: none;
 outline: none;
 background-color: transparent;

}

.offcanvasRight-section .offcanvasRight-close button i{
font-size: 30px;

}

.offcanvasRight-section .row{
    margin-top: 15px ;
}
.offcanvasRight-section .offcanvasRight-content label{
    color: #181818;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}

.offcanvasRight-section .offcanvasRight-content{
    min-height: 82%;
}


.offcanvasRight-section .offcanvasRight-content .canvas-input-group select{
    width: 100%;
    height: 46px;
    border: 1px solid #DBDFEA;
    outline: none;
    font-size: 12px;
    color: var(--color-text);
    padding: 0 10px;
}

.offcanvasRight-section .offcanvasRight-content .canvas-input-group .canvas-inputs input{
    width: 46px;
    height: 46px;
    margin-right: 10px;
    text-align: center;
    outline: none;
    border: 1px solid #DBDFEA;
    font-size: 12px;
}


.offcanvasRight-section .offcanvasRight-content .canvas-input-group select option{
    font-size: 12px ;
    color: var(--color-text);
}

.offcanvasRight-section .offcanvasRight-footer{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding: 0 30px;


}



